/* Write your CSS here */
.transaction-history-item {
  display: flex;
  align-items: center;
  border-left: 1px #cbd5e1 solid;
  border-right: 1px #cbd5e1 solid;
  border-bottom: 1px #cbd5e1 solid;
  height: 50px;
  width: 100%;
  padding-left: 20px;
  margin-top: 0px;
}

.title-name {
  color: #334155;
  font-family: 'Roboto';
  font-size: 18px;
  padding-right: 40px;
  padding-left: 0px;
  width: 30%;
  min-width: 100px;
  max-width: 120px;
}

.dlt-img {
  width: 24px;
}

.dlt-button {
  background-color: transparent;
  border: none;
  margin-left: 0px;
}
